.one,
.two {
  width: 20%;
  aspect-ratio: 1/1;
  background-image: url(ghost.svg);
  background-size: cover;
  display: inline-block;
  margin: 1%;
  border: 1px dashed;
}
.two {
  /* her skal du skrive koden */
}
